body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


h1{
    text-align: center;
    color:lightgoldenrodyellow;
    margin: 0 0 1rem;
}
p{
    width: 50%;
    border: 1rem solid black;
    margin: 0 auto;
    padding: 1rem ;
    background: darkgreen;
    box-sizing: border-box;
 

}

.container{
    background: orange;
    margin: 0.15rem;
    height: 30vh;

}
.blue{
    height: 70vh;
    background: darkblue;
}